html {
  font-size: 16px;
}

header {
  background-color: #fff;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
}

.logo-section img {
  width: 150px;
}

main {
  min-width: 500px;
  /* background-color: #f0f0f0;
  padding: 20px;
  min-height: 100vh;
  border: 3px solid #000; */
}

nav > ul {
  list-style: none;
  padding: 15px 0;
  margin: 0;
  display: flex;
  justify-content: center;
  /* margin-top: 25px; */
}

nav > ul > li {
  margin: 0 20px;
}

@media only screen and (max-width: 645px) {
  nav > ul > li > a {
    font-size: 0.6rem;
  }
}

@media only screen and (min-width: 645px) {
  nav > ul > li > a {
    font-size: 1.1rem;
  }
}

nav > ul > li > a {
  text-decoration: none;
  color: #20597a;
}

nav > ul > li > a:hover {
  color: #333;
}

.active {
  border-bottom: 2px solid #20597a;
  padding-bottom: 5px;
}

.main-section {
  /* background-color: green; */
}

.form-section {
  /* background-color: #dfdfdf; */
  width: 450px;
  min-width: 350px;
  margin: 0 auto;
  margin-top: 45px;
}

form {
  width: 100%;
}

form label {
  width: 100%;
  display: inline-block;
  margin-bottom: 16px;
}

form label span {
  display: inline-block;
  width: 40%;
}

form label input,
form label textarea {
  width: 58%;
  height: 18px;
}

form label textarea {
  height: 38px;
}

form label input,
form label textarea,
form label select {
  background-color: #eff7ff;
  border: 1px solid #0b3c74;
}

form label select {
  width: 59.6%;
  height: 25px;
}

form input[type="submit"] {
  width: 30%;
  padding: 6px;
  background-color: #0b3c74;
  color: #fff;
  font-size: 15px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}

form input[type="submit"]:hover {
  background-color: #07274d;
}

.submit-btn-wrapper {
  display: flex;
  justify-content: right;
}

.form-results-section {
  width: 450px;
  min-width: 350px;
  margin: 0 auto;
  margin-top: 45px;
}
.form-results-section h2 {
  border-bottom: 1px solid #20597a;
  padding-bottom: 5px;
  margin-bottom: 20px;
  color: #20597a;
  font-size: 1.5rem;
}
.form-results-section p {
  margin: 0;
  padding: 5px 0;
  font-size: 1.1rem;
  color: #333;
  line-height: 1.5;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
}
.form-error {
  color: red;
  font-size: 0.9rem;
  margin-top: 5px;
  text-align: right;
  margin-top: 10px;
  position: relative;
  left: -5px;
}
